{require_otp_vsn, "R14|R15"}.

{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import, fail_on_warning]}.

{lib_dirs, ["deps", "apps"]}.

{deps_dir, ["deps"]}.

{sub_dirs, ["rel"
        , "apps/define_param"
        , "apps/efcgi_client"
        , "apps/redis_wrapper"
        , "apps/xlab_res_loc"
        , "apps/xlab_fun_share"
        , "apps/xlab_db"
        , "apps/etanks"
        , "apps/user_data"
	, "apps/xlab_perit"
        ]}.

{deps, [
      {eredis,     ".*", {git, "git://github.com/wooga/eredis.git", "master"}}  
    , {gen_leader, ".*", {git, "git://github.com/abecciu/gen_leader_revival.git", "master"}}
    , {gproc,      ".*", {git, "git://github.com/esl/gproc.git", "master"}}
    , {epgsql,     ".*", {git, "git://github.com/wg/epgsql.git", "master"}}
    , {efcgi,      ".*", {git, "git://github.com/tanks/efcgi.git", "master"}}
    , {jiffy,      ".*", {git, "git://github.com/davisp/jiffy.git", "master"}}
]}.
